name: Turtle Service
description: Turtlesim service 
author: Yujinrobot
dedicated_apps:
  - tuple: linux.ros.pc.turtle_concert/turtle_stroll
    min: 2
  - tuple: linux.ros.pc.turtle_concert/turtle_stroll_sim
    min: 1 
implementation:
  nodes:
    - id: kobuki
      tuple: linux.ros.pc.turtle_concert/turtle_stroll
      force_name_matching: true
    - id: guimul
      tuple: linux.ros.pc.turtle_concert/turtle_stroll
      force_name_matching: true
    - id: turtlesim
      tuple: linux.ros.pc.turtle_concert/turtle_stroll_sim
      force_name_matching: true
  topics:
    - id: kobuki_cmd_vel
      type: geometry_msgs/Twist
    - id: guimul_cmd_vel
      type: geometry_msgs/Twist
    - id: kobuki_pose
      type: turtlesim/Pose
    - id: guimul_pose
      type: turtlesim/Pose
  actions: []
  edges:
  # These use the application namespace default mapping
  #  - start: kobuki
  #    finish: kobuki_cmd_vel
  #    remap_from: cmd_vel
  #    remap_to: /kobuki/cmd_vel
  #  - start: guimul
  #    finish: guimul_cmd_vel
  #    remap_from: cmd_vel
  #    remap_to: /guimul/cmd_vel
    - start: kobuki_cmd_vel
      finish: turtlesim
      remap_from: turtle_one/cmd_vel
      remap_to: /kobuki/cmd_vel
    - start: guimul_cmd_vel
      finish: turtlesim
      remap_from: turtle_two/cmd_vel
      remap_to: /guimul/cmd_vel
    - start: turtlesim
      finish: kobuki_pose
      remap_from: turtle_one/pose
      remap_to: /kobuki/pose
    - start: turtlesim
      finish: guimul_pose
      remap_from: turtle_two/pose
      remap_to: /guimul/pose
    - start: kobuki_pose
      finish: kobuki
      remap_from: pose
      remap_to: /kobuki/pose
    - start: guimul_pose
      finish: guimul
      remap_from: pose
      remap_to: /guimul/pose
      
