<!--
  A simple launcher to test the functionality of the rocon concert service info module. 
 -->
<launch>

  <arg name="name" default="Service Master"/>
  <arg name="icon" default="rocon_icons/cybernetic_pirate.png"/>
  <arg name="description" default="Services in Concert."/>

    <param name="name" value="$(arg name)"/>
    <param name="description" value="$(arg description)"/>
    <param name="icon" value="$(arg icon)"/>
    <node pkg="concert_service_utilities" type="service.py" name="service"/>
</launch>