<launch>
  <arg name="concert_name" default="Rocon concert"/> <!-- concert name, e.g. Pirate Concert, demo_concert, etc. -->
  <arg name="default_auto_enable_services" default="[]"/> <!-- autoenable services, e.g. [admin, initialisation] services which auto enabled on start up or "all" to enable all services -->
  <arg name="services" default="" doc="service list resource location. e.g. concert_tutorial/tutorial.services"/> 
  <arg name="disable_cache" default="true"/> <!--flag whether reading solution configuration and service profile from cache or default-->

  <node pkg="concert_service_manager" name="services" type="service_manager">
    <param name="concert_name"  value="$(arg concert_name)"/>
    <rosparam param="services" subst_value="True">$(arg services)</rosparam>
    <rosparam param="default_auto_enable_services" subst_value="True">$(arg default_auto_enable_services)</rosparam>
    <param name="disable_cache"  value="$(arg disable_cache)"/>
  </node>
</launch>
