<launch>
  <arg name="auto_enable_services" default="false"/> <!-- autoenable services, e.g. true/false -->
  <arg name="services" default="[]"/>  <!-- comma separated list of service resource names (e.g. 'chatter_concert/chatter') -->

  <node pkg="concert_service_manager" name="services" type="service_manager">
    <rosparam param="services" subst_value="True">$(arg services)</rosparam>
    <param name="auto_enable_services" value="$(arg auto_enable_services)"/>
  </node>
</launch>
