<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="concert_auto_invite" default="true"/>

  <!-- ******************************* Conductor ******************************* -->
  <node pkg="concert_conductor" type="conductor.py" name="conductor" output="screen">
    <param name="auto_invite" value="$(arg concert_auto_invite)"/>
    <remap from="conductor/gateway_info" to="gateway/gateway_info"/>
    <remap from="conductor/remote_gateway_info" to="gateway/remote_gateway_info"/>
    <remap from="conductor/pull" to="gateway/pull"/>
    <remap from="conductor/flip" to="gateway/flip"/>
  </node>
</launch>
