<launch>
    <arg name="concert_client_name" default="dude"/>
    <arg name="concert_name" default="solution_concert"/>

    <include file="$(find rocon_app_manager)/launch/concert_client.launch">
        <arg name="robot_name" value="$(arg concert_client_name)"/>
        <arg name="concert_name" value="$(arg concert_name)"/>
        <arg name="robot_type" value="pc"/>
        <arg name="rapp_lists" value="rocon_apps/rocon.rapps;turtle_concert/turtle_concert.rapps"/>
        <arg name="gateway_watch_loop_period" value="1"/>
    </include>
</launch>
