<launch>
  <!-- TODO fix this so ours and the compatibility tree are compatible without
       this namespace in the way (best way might be to de-privatise the c.tree
       topics)
  -->
  <node pkg="concert_simple_scheduler" name="scheduler" type="simple_scheduler">
    <remap from="resource_pool" to="~resource_pool"/>
    <remap from="concert_client_changes" to="/concert/conductor/concert_client_changes"/>
    <rosparam param="topic_name">/concert/scheduler/requests</rosparam>
  </node>
</launch>
