<launch>
  <!-- ***************************** Concert Master ***************************** -->
  <include file="$(find concert_master)/launch/concert_master.launch"/>

  <!-- ****************************** Role Manager ****************************** -->
  <node pkg="concert_roles" type="role_manager.py" name="role_manager"/>
</launch>
