<!-- 
   Used for simple testing the role manager with a remocon. It doesn't need the rest
   of the concert infrastructure.
-->
<launch>
  <!-- ***************************** Concert Master ***************************** -->
  <node pkg="concert_master" type="master.py" name="master"/>

  <!-- ****************************** Role Manager ****************************** -->
  <group ns="concert">
    <node pkg="concert_roles" type="role_manager.py" name="role_manager"/>
    <node pkg="concert_roles" type="load_test_roles_and_apps" name="load_test_roles_and_apps"/>
    <node pkg="concert_roles" type="attach_test_remocon" name="attach_test_remocon"/>
  </group>
</launch>
