name: Chatter
description: Chatting between agents 
author: YujinRobot
priority: 2
launcher_type: roslaunch
launcher: concert_service/chatter
human_interactions: concert_tutorial/chatter